article {
    padding: 1rem;
    text-align: left;
    line-height: 1.5;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dark article {
    background-color: rgb(57, 61, 61);
    border-block: 1px solid rgb(127, 125, 138);
}

.light article {
    background-color: whitesmoke;
    border-block: 1px solid lightgray;
}

article img {
    max-width: 500px;
    margin: 50px auto;
}

article [role="article_body"] {
    font-size: 1.15em;
    margin-block: 1rem;
    line-height: 1.75;
}

article [role="article_id"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

article [role="topic"] {
    margin-block: .5rem;
    width: min-content;
}

article [role="author"] {
    font-style: unset;
    font-size: .9em;
}

article [role="author"],
article [role="date"] {
    margin-inline: .75em;
}

article .stat {
    margin-block: 1rem;
    align-self: flex-end;
}

article .created_data {
    margin-block-start: 1rem;
    text-align: right;
}