#filter_sorter {
    background-color: rgb(231, 231, 231);
    text-align: left;
    padding: .75em 1em;
    color: black
}

.dark #filter_sorter {
    background-color: rgb(67, 69, 85);
    color: white
}

#filter_sorter select {
    padding-block: .6em;
    margin: .5rem;
    border-radius: 0;
    border: 1px slategray solid;
    font-size: 1em;
    background-color: white;
}

#filter_sorter button {
    border: 1px slategray solid;
    border-radius: 0;
} 