.list_of_articles {
    list-style: none;
    box-shadow: 0 0 2px rgb(147, 178, 189);
}

.article_card {
    padding: 1rem;
    display: grid;
    grid-template-columns: 40px auto auto 95px ;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
    border-bottom: 1px rgb(212, 212, 212) solid;
}

.article_card:last-of-type {
    border-bottom: unset;
}

.article_card:hover {
    border: 1px slategray solid;
}

[role="article_id"]::before {
    content: "#"
}

[role="article_id"] {
    text-align: left;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-size: .95em;
}

[role="author"]::before {
    content: "By "
}

[role="author"] {
    text-align: left;
    grid-column: 2 / span 3;
    grid-row: 2 / 2;
    font-style: italic;
}

[role="date"] {
    text-align: left;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    font-size: .9em;
}

[role="topic"] {
    text-align: right;
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
    text-transform: capitalize;
    background-color: rgb(154, 176, 199);
    border-radius: 5px;
    place-self: start end;
    padding: 0.25em 1em;
}

[role="title"] {
    text-align: left;
    grid-column: 2 / span 3;
    grid-row: 1 / 1;
    font-weight: 700;
    font-size: 1.15em;
}

.stat {
    font-size: 0.9em;
    grid-column: 3 / span 2;
    grid-row: 3 / 3;
    display: flex;
    justify-content: space-between;
    text-align: right;
    justify-self: end;
}

.stat > * {
    padding: .6em 1.2em;
}

.cooking {
    background-color: palevioletred;
}

.coding {
    background-color: rgb(127, 193, 196);
}