.list_of_articles {
    list-style: none;
    box-shadow: 0 0 2px rgb(147, 178, 189);
}

.dark .list_of_articles, .dark .list_of_articles a {
    background-color: rgb(65, 64, 64);
    color: rgb(219, 219, 219)
}

.article_card {
    display: grid;
    grid-template-columns: auto max(250px);
    grid-template-rows: auto auto;
    border-bottom: 1px rgb(212, 212, 212) solid;
    gap: .5rem;
    padding: .5em 1rem;
}

.article_card_wrapper {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto auto auto auto;
    gap: 0.5rem;
}

.article_card > a {
    font-weight: 400;
}

.article_card:last-of-type {
    border-bottom: unset;
}

.article_card:hover {
    border: 1px slategray solid;
}

[role="article_id"]::before {
    content: "#"
}

[role="article_id"] {
    text-align: left;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: .95em;
}

.list_of_articles [role="author"]::before {
    content: "By "
}

[role="author"] {
    text-align: left;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-style: italic;
}

[role="date"] {
    text-align: left;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: .9em;
}

[role="topic"] {
    text-align: right;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    text-transform: capitalize;
    background-color: rgb(154, 176, 199);
    border-radius: 5px;
    place-self: start;
    padding: 0.5em;
}

[role="title"] {
    text-align: left;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: 700;
    font-size: 1.15em;
}

[role="article_img_container"] {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: center;
}

.article_img {
    object-fit: cover;
    width: 225px;
    height: 175px;
}

.list_of_articles  .stat {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: start;
    padding-inline-start: 3em;
    margin-block-start: .5rem;
}

[role="votes"] {
    background-color: rgb(175, 177, 177);
    font-size: 0.9em;
    padding: .5em .75em;
}

[role="comment_no"] {
    font-size: 0.9em;
    padding: .5em .75em;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
}

.cooking {
    background-color: rgb(255, 157, 190);
}

.coding {
    background-color: rgb(145, 249, 255);
}

.football {
    background-color: rgb(170, 198, 255);
}