nav {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1280px;
    right: 0;
    z-index: 5;
}

.menuWrapper {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.light .menuWrapper {
    background-color: rgb(227, 243, 253);
}

.dark .menuWrapper {
    background-color: rgb(59, 59, 59);
}

:is(.dark) .menuWrapper a {
    color: black;
}

.nav_item {
    width: 100px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

.menuWrapper a:hover {
    background-color: lightsalmon;
    transition: 300ms;
}

.menuWrapper a {
    width: inherit;
    padding-block: 1rem;
    text-transform: capitalize;
}