#post_article_page {
    border-block: 1px solid rgb(231, 231, 231);
    background-color: whitesmoke;
    width: 100%;
    min-height: 30vh;
    padding: 3.5em 1em;
    text-align: left;
}

.dark #post_article_page {
    background-color: dimgray;
}

#post_article_page h2 {
    padding-block: unset;
}

.post_article_wrapper {
    margin: 0 auto;
    max-width: 650px;
}

#post_article_form {
    margin-block: 1em;
    display: grid;
    gap: 1.5em;
}

#post_article_form > * {
    grid-row: unset;
    grid-column: unset;
}

#post_article_form select{
    padding: .75em 0.5em;
}

#post_article_form label{
    width: 100%;
}

#post_article_form input,
#post_article_form textarea {
    padding-inline: 0.5em;
}

#post_article_form textarea {
    width: 100%;
    word-break: break-all;
    min-height: 250px;
}

#post_article_form .article_img {
    height: min-content;
}

#post_article_form button[type="submit"] {
    width: 200px;
    justify-self: center;
    background-color: rgb(61, 83, 180);
    color: white
}

@media screen and (min-width: 750px) {
    #post_article_form {
        grid-template-columns: max(200px) auto;
        grid-template-rows: auto auto auto auto;
        gap: 2em;
    }

    #post_article_form button[type="submit"] {
        grid-column: 1/3;
    }
}