#root {
  max-width: 1280px;
  text-align: center;
}

header {
  padding-block: 2.5rem;
  min-height: 20vh;
}

footer {
  padding-block: 2.75rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}