#root {
  width: 100vw;
  text-align: center;
}

#theme {
  width: inherit;
  display: flex;
  justify-content: center;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

#wrapper {
  width: inherit;
  max-width: 1024px;
  box-shadow: 0 0 1px rgb(120, 132, 136);
}

.topics {
  color: black;
}

.theme_toggle {
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  padding: 0 .7em;
  position: relative;
}

.theme_toggle svg {
  transform: translate(0, 2px);
}

.dark .theme_toggle {
  color: white;
}

header {
  padding-block: 1em .75em;
  padding-inline: .65rem;
  min-height: 150px;
  position: relative;
}
.light header {
  background-color: rgb(255, 255, 255);
}

.dark header {
  background-color: rgb(47, 50, 65);
}
.header_wrapper {
  float: right;
  text-align: right;
}

.header_wrapper a,
.header_wrapper p {
  margin-inline: .5rem;
}

.header_wrapper a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
}

.header_wrapper a:hover {
  color: darkorange;
}

header h1 {
  text-align: left;
}

header::after {
  content: "";
  background-color: orange;
  height: 10px;
  width: 100%;
  display: block;
  position: absolute;
  translate: -10px;
  bottom: 0;
}

.loading_page {
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  padding-block: 2.75rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark footer {
  background-color: rgb(37, 52, 68);
}

.prevPage {
  text-decoration: underline;
}

@media screen and (min-width: 750px) {
  #root {
    width: 100vw;
  }
}
