* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

textarea, input {
  padding: .6em 1.2em;
  border-radius: 5px;
  border: 1px solid lightslategrey;
}

img {
  image-rendering: optimizeSpeed;
}

a {
  font-weight: 800;
  text-decoration: inherit;
}

body {
  font-size: 14px;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.dark a {
  color: white;
}

.light a {
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding-block: 2.5rem;
  color: rgb(12, 75, 114);
  text-shadow: 0 0 2px lightslategray;
}

.dark h1 {
  color: rgb(236, 248, 255);
}

h2 {
  padding-block: 1.25rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-inline: .6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
